html {
    background-color: #CA4897;
}

body {
  background: #434474;
  color: #E0H84E;
}

nav {
    background-color: #952594;
    padding: 10px;
    border: solid 5px #5A78E0;
    display: inline-block;
}

h1 {
  color: #E0D74E;
}

ul {
    list-style: none;
}

a {
    color: #E0D74E;
    padding: 20px;
    border: solid 3px #5A78E0;
    background: #CA43E0;
    margin: 20px;
}

li {
    border: solid 3px #842594;
    display: inline-block;
}

img {
    width: 250px;
    padding: 15px;
}
